<div class="section">
  <div class="container">
    <h3>Creación de usuario</h3>
    <form (ngSubmit) = "f.form.valid && crearUsuario()" class="col s12" #f = "ngForm" novalidate>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">person</i>
          <label for="1">Nombre</label>
          <input [(ngModel)]="model.nombre" name="1" type="text" class="form-control" #n_cond = "ngModel" required>
        </div>
        <div class="input-field col s6">
          <label for="2">Apellido</label>
          <input [(ngModel)]="model.apellido" name="2" type="text" class="form-control" #a_cond = "ngModel" required>
        </div>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">email</i>
        <label for="3">E-mail</label>
        <input [(ngModel)]="model.email" name="3" type="text" class="form-control" #e_cond = "ngModel" required>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">lock</i>
        <label for="4">Contraseña</label>
        <input [(ngModel)]="model.password" name="4" type="text" class="form-control" #p_cond= "ngModel" required>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">category</i>
        <select materialize="material_select" [(ngModel)]="model.cargo" type="text" name="5" #c_cond = "ngModel" required>
            <option value="" disabled selected>Elegir cargo</option>
            <option value="2">Bodeguero central</option>
            <option value="3">Bodeguero de obra</option>
            <option value="4">Encargado de compra</option>
        </select>
      </div>
      <button class="btn waves-effect waves-light" [disabled]="!f.form.valid || loading">
        Crear
        <i class="material-icons right">add</i>
      </button>
      <button type="reset" class="btn waves-effect waves-light">Limpiar
        <i class="material-icons right">clear</i>
      </button>
    </form>
  </div>
</div>
