<div class="section">
  <div class="container">
    <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>Ubicacion</th>
              <th>Detalles</th>
              <th>Estado</th>
          </tr>
        </thead>

        <!-- <tbody>
          <tr *ngFor = "let resultados of compras">
            <td>{{resultados.id}}</td>
            <td>{{resultados.ubicacion}}</td>
            <td>{{resultados.detalle}}</td>
            <td *ngIf = "estado == 1" id="hecho">Listo</td>
            <td *ngIf = "estado == 2" id="suspencion">Pendiente</td>
            <td *ngIf = "estado == 3" id="tarde">Atrasado</td>
          </tr>
        </tbody> -->

        <tbody>
          <tr>
            <td>659345</td>
            <td>USM</td>
            <td>Hacer sala de redes</td>
            <td id="suspencion">Pendiente</td>
          </tr>
          <tr>
            <td>381298</td>
            <td>USACH</td>
            <td>Hacer baño unisex</td>
            <td id="hecho">Listo</td>
          </tr>
          <tr>
            <td>543212</td>
            <td>PUC</td>
            <td>Implementar JUNAEB</td>
            <td id="tarde">Atrasado</td>
          </tr>
          <tr>
            <td>659345</td>
            <td>USM</td>
            <td>Hacer sala de redes</td>
            <td id="suspencion">Pendiente</td>
          </tr>
          <tr>
            <td>381298</td>
            <td>USACH</td>
            <td>Hacer baño unisex</td>
            <td id="hecho">Listo</td>
          </tr>
          <tr>
            <td>543212</td>
            <td>PUC</td>
            <td>Implementar JUNAEB</td>
            <td id="tarde">Atrasado</td>
          </tr>
          <tr>
            <td>659345</td>
            <td>USM</td>
            <td>Hacer sala de redes</td>
            <td id="suspencion">Pendiente</td>
          </tr>
          <tr>
            <td>381298</td>
            <td>USACH</td>
            <td>Hacer baño unisex</td>
            <td id="hecho">Listo</td>
          </tr>
          <tr>
            <td>543212</td>
            <td>PUC</td>
            <td>Implementar JUNAEB</td>
            <td id="tarde">Atrasado</td>
          </tr>
          <tr>
            <td>659345</td>
            <td>USM</td>
            <td>Hacer sala de redes</td>
            <td id="suspencion">Pendiente</td>
          </tr>
          <tr>
            <td>381298</td>
            <td>USACH</td>
            <td>Hacer baño unisex</td>
            <td id="hecho">Listo</td>
          </tr>
          <tr>
            <td>543212</td>
            <td>PUC</td>
            <td>Implementar JUNAEB</td>
            <td id="tarde">Atrasado</td>
          </tr>
          <tr>
            <td>659345</td>
            <td>USM</td>
            <td>Hacer sala de redes</td>
            <td id="suspencion">Pendiente</td>
          </tr>
          <tr>
            <td>381298</td>
            <td>USACH</td>
            <td>Hacer baño unisex</td>
            <td id="hecho">Listo</td>
          </tr>
          <tr>
            <td>543212</td>
            <td>PUC</td>
            <td>Implementar JUNAEB</td>
            <td id="tarde">Atrasado</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
