<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s6" style="float: left;">
        <table class="highlight">
          <thead>
            <tr>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let resultados of bodega">
              <td>{{resultados.Nombre}}</td>
              <td>{{resultados.Cantidad}}</td>
              <td *ngIf = "resultados.Descripcion == null || resultados.Descripcion == ''">Sin Descripción</td>
              <td *ngIf = "resultados.Descripcion != null && resultados.Descripcion != ''">{{resultados.Descripcion}}</td>
              <td *ngIf = "cargo == 2"><i (click)="borrarMaterial(resultados.ID_MATERIAL)" class="material-icons" style="cursor:pointer;">clear</i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col s6 l5" style="float: right;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <p class="mostrar">memes</p>
      </div>
    </div>
    <!-- <section *ngIf="AQUI DEBE SER EDITABLE POR EL BODEGUERO CENTRAL SOLAMENTE"> -->
    <section *ngIf="cargo == 2">
      <h3>Añadir más materiales</h3>
      <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">build</i>
            <input id="icon_prefix" [(ngModel)]="nombre" name="nombre" type="text" class="validate">
            <label for="icon_prefix">Nombre del material</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">exposure_plus_1</i>
            <input id="icon_telephone" [(ngModel)]="cantidad" name="cantidad" type="number" class="validate" >
            <label for="icon_telephone">Cantidad</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea id="textarea1" [(ngModel)]="descripcion" name="descripcion" class="materialize-textarea"></textarea>
            <label for="textarea1">Descripci&oacute;n</label>
          </div>
          <button (click)="crearMaterial()" class="btn waves-effect waves-light">Añadir
            <i class="material-icons right">add</i>
          </button>
        </div>
      </form>
      </div>
    </section>
  </div>
</div>
