<div class="section">
  <div class="container">
    <h3>Creación de Obra</h3>
    <form (ngSubmit) = "f.form.valid && crearObra()" class="col s12" #f = "ngForm" novalidate>
      <div class="input-field col s6">
        <i class="material-icons prefix">gavel</i>
        <label for="1">Nombre de obra</label>
        <input [(ngModel)]="model.nombre" name="1" type="text" class="form-control" #n_cond = "ngModel" required>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">comment</i>
        <label for="2">Descripcion</label>
        <input [(ngModel)]="model.descripcion" name="2" type="text" class="form-control" #a_cond = "ngModel" required>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">location_city</i>
        <label for="3">Ubicacion</label>
        <input [(ngModel)]="model.ubicacion" name="3" type="text" class="form-control" #e_cond = "ngModel" required>
      </div>
      <button class="btn waves-effect waves-light" [disabled]="!f.form.valid || loading">
        Crear
        <i class="material-icons right">add</i>
      </button>
      <button type="reset" class="btn waves-effect waves-light">Limpiar
        <i class="material-icons right">clear</i>
      </button>
    </form>
    <div style="margin-top:20px">
      <span style="color: #07b507;">{{text}}</span>
    </div>

    <div class="row">
      <table class="highlight">
        <thead>
          <tr>
              <th>Nombre</th>
              <th>Bodeguero</th>
              <th>Descripcion</th>
              <th>Ubicaci&oacute;n</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let resultados of obras">
            <td>{{resultados.Nombre}}</td>
            <td>{{resultados['bodeguero de obra_id']}}</td>
            <td>{{resultados.Descripcion}}</td>
            <td>{{resultados.Ubicacion}}</td>
            <!--<td *ngIf = "resultados.Descripcion == null || resultados.Descripcion == ''">Sin Descripción</td>
            <td *ngIf = "resultados.Descripcion != null && resultados.Descripcion != ''">{{resultados.Descripcion}}</td>
            <td *ngIf = "cargo == 2"><i (click)="borrarMaterial(resultados.ID_MATERIAL)" class="material-icons" style="cursor:pointer;">clear</i></td>-->
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="obras && bodegueros && bc" class="row">
      <h3>Asignar bodeguero</h3>
      <form (ngSubmit) = "f2.form.valid && asignar_b()" class="col s12" #f2 = "ngForm" novalidate>
        <div class="input-field col s12">
          <i class="material-icons prefix">category</i>
          <select materialize="material_select" [(ngModel)]="asignar.id_obra" type="text" name="5" #oc_cond = "ngModel" required>
              <option value="" disabled selected>Elegir Obra</option>
              <option *ngFor="let obra of obras" [value]="obra.id_obra">
                  {{obra.Nombre}}
              </option>
          </select>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">category</i>
          <select materialize="material_select" [(ngModel)]="asignar.id_bodeguero" type="text" name="6" #bc_cond = "ngModel" required>
              <option value="" disabled selected>Elegir Bodeguero</option>
              <option *ngFor="let bodeguero of bodegueros" [value]="bodeguero.id_bodeguero_obra">
                  {{bodeguero.Nombre}} {{bodeguero.Apellido}}
              </option>
          </select>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">category</i>
          <select materialize="material_select" [(ngModel)]="asignar.id_bodeguero_central" type="text" name="7" #boc_cond = "ngModel" required>
              <option value="" disabled selected>Elegir Bodeguero central</option>
              <option *ngFor="let b of bc" [value]="b.id_bodeguero_central">
                  {{b.Nombre}} {{b.Apellido}}
              </option>
          </select>
        </div>
        <button class="btn waves-effect waves-light" [disabled]="!f2.form.valid || loading">
          Asignar
          <i class="material-icons right">add</i>
        </button>
      </form>
      <div style="margin-top:20px">
        <span style="color: #07b507;">{{text_asignar}}</span>
      </div>
    </div>

  </div>
</div>
